.title{
    padding: 32pt 0;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
}
button{
    color: white;
    height: 48px;
    margin: 0 auto;
    font-size: 16px;
    max-width: 400px;
    border-radius: 4pt;
    background-color: #F13D5D;
}