<div class="product" [routerLink]="'/product/' + product.id">
    <div class="flex gap-4">
        <div class="flex-1">
            <p class="product-title">{{language == "en" ? product.title_en : product.title_ar}}</p>
            <p class="text-[#A0A0A0] mb-1.5 text-sm">{{language == "en" ? product.desc1_en : product.desc1_ar}}</p>
            <div class="flex justify-between gap-4">
                <p *ngIf="product.price > 0" class="text-[#F13D5D] text-sm min-w-[55px]">{{product.price |
                    formatNumber}}
                    {{'JD' | translate}}</p>
                <p *ngIf="product.price == 0" class="text-[#F13D5D] text-sm min-w-[55px]">{{'Price/unit' |
                    translate}}
                </p>
                <p class="text-[#A0A0A0] text-sm">{{language == "en" ? product.desc2_en : product.desc2_ar}}</p>
            </div>
        </div>
        <div>
            <img defaultImage="assets/images/default-product.webp" [lazyLoad]="product.image"
                [errorImage]="'' | errorImage" [useSrcset]="true" alt="image" />
        </div>
    </div>
</div>