<div class="flex flex-row items-center">
    <div class="w-10 h-10">
        <span
            class="w-10 h-10 flex justify-center items-center text-[#F13D5D] hover:bg-[#AF253E] hover:text-white transition-all cursor-pointer"
            style="    border: 2px solid #F13D5D;    border-radius: 50%;font-size: 2rem;" (click)="minus()">-</span>
    </div>
    <div class="flex-1 w-[64px] text-center">
        <p class="text-white">{{counter}}</p>
    </div>
    <div class="w-10 h-10">
        <span
            class="w-10 h-10 flex justify-center items-center text-[#F13D5D] hover:bg-[#AF253E] hover:text-white transition-all cursor-pointer"
            style="    border: 2px solid #F13D5D;    border-radius: 50%;font-size: 1.25rem;" (click)="plus()">+</span>
    </div>
</div>